page-entspannungsUebungen {
    .btn-wrapper {
        text-align: center;
        width: 75%;
        padding: 25px;
        font-size: 24px;
        color: white;
        background-color: blue;
        border-radius: 3px;
        border: none;
        margin: 10px;
        font-weight: bold; 
    }
    ion-content {
        margin-top: 25px; 
    }
    ion-title {
        position: absolute;
        top: 1px; 
        padding: 0 5px 1px;
        width: 60%;
        height: 100%;
      }
}
